body {
    margin: 0;
    padding: 0;
    background: #ffa600;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #333;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.burger {
    position: absolute;
    bottom: 10%;
    left: 45%;
    width: 23%;
}

.spaghetti {
    position: absolute;
    top: 10%;
    right: 20%;
    width: 20%;
}

.pizza {
    position: absolute;
    bottom: 30%;
    right: 10%;
    width: 17%;
}

.white {
    position: absolute;
    top: 0;
right: 0;
width: 50%;
height: 90%;
}

.logo {
position: absolute;
top: 4%;
left: 10%;
width: 5%;
height: auto;
}

.nav {
position: absolute;
top: 7%;
left: 20%;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
color: #333;
}

.nav a {
margin-right: 110px;
text-decoration: none;
color: inherit;
}

.nav a:hover {
text-decoration: underline;
font-style: italic;
}

form {
position: absolute;
top: 20%;
left: 10%;
background-color: rgba(255, 255, 255, 0.8);
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
width: 25%;
}

form label {
display: block;
margin-bottom: 6px;
font-weight: bold;
font-size: 15px;
}

form input[type="text"],
form input[type="email"],
form select {
width: 100%;
padding: 5px;
margin-bottom: 10px;
border: none;
border-radius: 5px;
box-sizing: border-box;
font-size: 12px;
}

form input[type="submit"] {
background-color: #007BFF;
color: white;
border: none;
padding: 8px 11px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
font-size: 12px;
}

form input[type="submit"]:hover {
background-color: #0056b3;
}